@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: aliceblue;
}

section {
    position: relative;
    min-height: 100vh;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 500ms;
}

section .doctor-login-container {
    position: relative;
    width: 900px;
    height: 500px;
    background-color: aliceblue;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
}

section .doctor-login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.doctor-img-box img {
    width: 100%;
    height: 100%;
}

section .doctor-img-box img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

section .navigation {
    position: relative;
    width: 50%;
    height: 100%;
    transition: 500ms;
    background-color: lightskyblue;
}

section .navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 250px;
    padding-top: 200px;
}

section .navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

section .navigation ul li.active
{
    background-color: aliceblue;
}

section .navigation ul li b:nth-child(1)
{
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background-color: aliceblue;
    display: none;
}

section .navigation ul li b:nth-child(1)::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background-color: #2a3863;
}

section .navigation ul li b:nth-child(2)
{
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background-color: aliceblue;
    display: none;
}

section .navigation ul li b:nth-child(2)::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    background-color: #2a3863;
}

section .navigation ul li.active b:nth-child(1),
section .navigation ul li.active b:nth-child(2)
{
    display: block;
}

section .navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
    color: #ddd;
}

section .navigation ul li.active a
{
    color: black;
}

section .navigation ul li a .title
{
    position: relative;
    display: block;
    padding-left: 60px;
    height: 60px;
    line-height: 65px;
    white-space: normal;
    font-size: 20px;
}

section .doctor-login-formbox {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: aliceblue;
    transition: 500ms;
}

section .doctor-login-formbox form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section .doctor-login-formcontrol {
    text-align: center;
}

.doctor-login-formcontrol .doctor-icon,
.doctor-login-formcontrol .doctor-icon2 {
    width: 15px;
    height: 15px;
}

.doctor-icon img {
    width: 30px;
}

.doctor-icon2 img {
    width: 25px;
}

.doctor-imglogo img {
    width: 100px;
    height: 100px;
}

section .doctor-login-formcontrol .doctor-icon{
    position: absolute;
    top: 182px;
    margin-left: 6px;
    line-height: 1;
    margin-top: 12px;
}

section .doctor-login-formcontrol .doctor-icon2 {
    position: absolute;
    line-height: 1;
    margin-top: 8px;
    margin-left: 6px;
}

section .doctor-login-formcontrol input {
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px 0;
    margin-bottom: 20px;
    width: 300px;
    text-indent: 40px;
    outline: none;
    display: inline-block;
}

section .doctor-login-formcontrol input::placeholder {
    font-family: 'Poppins';
    color: gray;
    line-height: 1;
    text-indent: 40px;
}

section .doctor-login-formcontrol button {
    display: block;
    text-align: center;
    width: 68%;
    margin-left: 50px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    border-radius: 20px;
    background-color: lightskyblue;
    color: white;
    padding: 10px 0;
    margin-top: 30px;
    transition: 500ms;
}

section .doctor-login-formcontrol h2 {
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: black;
    margin-bottom: 30px;
}

section .doctor-login-formcontrol span a {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: crimson;
    position: absolute;
    left: 0;
    margin-top: -10px;
}

section .doctor-login-formcontrol p {
    font-size: 14px;
    color: black;
    margin-top: 15px;
    text-align: center;
}

section .doctor-login-formcontrol p a {
    font-size: 14px;
    color: crimson;
    text-decoration: none;
    font-weight: 600;
}

section .doctor-login-container-phone {
    display: none;
}

@media screen and (max-width: 431px) {
    section .doctor-login-container {
        display: none;
    }
    body, html {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        background-color: white;
        margin: 0;
        padding: 0;
        /* box-sizing: border-box; */
    }
    section .doctor-login-container-phone {
        width: 100vw;
        height: 100vh;
        background-color: white;
        display: flex;
        text-align: center;
        flex-direction: column;
        /* justify-content: flex-start; */
        padding: 0; 
        /* overflow: hidden; */
        align-items: center;
    }
    section .doctor-img-box-phone {
        width: 100%;
        height: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section .doctor-img-box-phone img {
        width: 100%;
        height: 30%;
        border-bottom-left-radius: 50% 20%;
        border-bottom-right-radius: 50% 20%;
        clip-path: ellipse(87% 80% at 47% 8%);
    }
    section .doctor-imglogo {
        width: 25%;
        height: auto;
        /* background-color: aqua; */
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 85%;
        left: 48%;
        transform: translate(-50%, -50%);
    }
    section .doctor-circle {
        width: 200px;
        height: auto;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
    }
    section .doctor-circle img {
        width: 90px; /* ลดขนาดไอคอนเพื่อให้พอดีกับวงกลม */
        height: 110px;
        object-fit: contain;
        position: relative;
        z-index: 2;
        margin: 0 auto;
    }
    section .doctor-label-phone {
        position: relative; /* ให้มันเป็นจุดอ้างอิง */
        text-align: center;
        margin-top: 5px; /* เพิ่มระยะห่างจากไอคอน */
        margin-left: -13px;
    }
    section .doctor-label-phone span {
        color: black;
        font-size: 25px;
        font-weight: 500;
        margin-top: 15px; /* เพิ่มระยะห่าง */
    }
    section .doctor-options {
        display: flex;
        justify-content: space-between;
        margin: 10px 49px;
        margin-top: -15px;
        width: 73%;
    }
    .doctor-options span {
        color: gray; /* gray */
        font-size: 21px;
        display: inline-block;
        text-decoration: none !important;
    }
    .doctor-login-formbox-phone {
        position: relative;
        width: 100%;
        height: auto;
        left: 0;
    }
    .doctor-login-formbox-phone h2 {
        text-align: center;
        font-size: 45px;
        font-weight: 700;
        color: black;
        margin-bottom: 25px;
        margin-top: 50px;
        margin-left: -12px;
    }
    .doctor-login-group {
        width: 100%;
        height: auto;
        position: relative;
    }
    .doctor-form-group {
        width: 100%;
        margin: 15px 0;
    }
    .doctor-form-group input {
        width: 70%;
        padding: 15px;
        border: none;
        border-radius: 17px;
        background-color: lightgrey; /* เปลี่ยนเป็นสีขาว */
        font-size: 18px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* เพิ่มมิติ */
        margin-top: 7px;
        margin-left: -12px;
    }
    .doctor-form-group input::placeholder {
        font-family: 'Poppins';
        color: gray;
        line-height: 1;
        text-indent: 5px;
    }
    .doctor-login-group button {
        display: block;
        text-align: center;
        width: 70%;
        border: none;
        cursor: pointer;
        font-weight: 600;
        font-size: 23px;
        border-radius: 20px;
        background-color: skyblue;
        color: black;
        padding: 10px 0;
        box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.4);
        margin-top: 55px;
        margin-left: 54px;
    }
    .doctor-login-group p {
        font-size: 18px;
        font-weight: 500;
        margin-top: 30px;
        text-align: center;
        color: black;
        margin-left: -20px;
    }
    .doctor-login-group a {
        font-size: 18px;
        color: crimson;
        text-decoration: none;
        font-weight: 600;
    }
    .doctor-options img {
        width: 25px;
        height: 25px;
    }

}
