.container3{
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;
}

.left-con3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    line-height: 1.5;
    font-size: 20px;
    padding-left: 100px;
}

.left-con3 h1{
    margin-right: 300px;
}

.right-con3{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 70px;
}
.box-con3{
    width: 350px;
    height: 420px;
    background-color: #EEF7FF;
    color : #393a3a;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
}

.box-con3 span{
    font-size: 18px;
    padding: 10px 10px;
    display: flex;
    margin-top: 25px;
    margin-left: 20px;
}

.pic1{
    margin-top: 10px;
}

.box-con3 p{
    display: flex;
    margin-left: 50px;
}