@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

nav{
    width: 100%;
    height: 10vh;
    background: #2A3863;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}

a{
    color: #fff;
}

.rightnav{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-right: 10px;
    align-items: center;
}

.list-group-item {
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    position: relative;
}

.list-group-item::after {
    content: "";
    display: block;
    width: 0;
    height: 1.5px;
    background: #f9f9f9;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.list-group-item:hover::after,
.list-group-item.active::after {
    width: 100%;
}


.leftnav{
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}

.signin-login{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.signin-login i{
    font-size: 20px;
}
