*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.nav{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5% 0px 5%;
    background-color: #2A3863;
    z-index: 1;
}
.Nav_logo img{
    width: 2.5rem;
}

.left_Navitem{
    display: flex;
    flex-direction: row;
    column-gap: 5%;
    width: 50%;
    color: white;
    align-items: center;
}

.right_Nav{
    width: 35%;
}

.menu_list ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu_list a{
    color: white;
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
}

/* แสดง hamburger เมื่อลดขนาดหน้าจอ */
@media screen and (max-width: 550px) {
    .menu_list ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: #EEF7FF;
        text-align: center;
    }

    /* แสดงเมนูเมื่อมีการคลิก */
    .menu_list ul.active {
        display: flex;
    }

    .menu_list ul li {
        padding: 15px 0;
    }

    .hamburger {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
        color: white;
    }

    .menu_list a {
        color: #2A3863;
    }
}
